@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$blue-grey-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.all-component-themes($dark-theme);

// Add margin
$margin-values: (1,2,3,5,10,15,20,25,30,40,50,75,100);
@each $value in $margin-values {
  .mr-#{$value} {
    margin-right: $value + em;
  }
  .ml-#{$value} {
    margin-left: $value + em;
  }
  .mb-#{$value} {
    margin-bottom: $value + em;
  }
  .mt-#{$value} {
    margin-top: $value + em;
  }
  .m-#{$value} {
    margin: $value + em;
  }

  .w-#{$value} {
    width: $value + '%';
  }
}

.margin-auto{
  margin: auto;
}

.margin-left-auto{
  margin-left: auto;
}

.margin-right-auto{
  margin-right: auto;
}

.margin-top-auto{
  margin-top: auto;
}

.margin-bottom-auto{
  margin-bottom: auto;
}

.pointer{
  cursor: pointer;
}

section > .mat-accordion .mat-expansion-panel:last-of-type,
section > .mat-accordion .mat-expansion-panel:first-of-type,
section > .mat-expansion-panel {
  border-radius: 0px;
}

.center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.left{ float: left;}
.right{ float: right;}

.italic{
  font-style: italic;
}

.bold{
  font-weight: 500;
}

.white{
  color: #EEE;
}

.overflow-x{
  overflow-x: auto;
  white-space: nowrap;
}

.overflow-auto{
  overflow: auto;
}

.overflow{
  scrollbar-color: #3f51b5 #000;
  scrollbar-width: thin;
}

.overflow::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #000;
}

.overflow::-webkit-scrollbar-thumb {
  background: #3f51b5;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex
}

.responsive-image{
  max-width: 100%;
  height: auto;
}